<h2>Edit Your Comment</h2>

<h4>Disscussion: </h4>
<%= render 'shared_views/show_and_create_comments' %>
 

<%= button_to "Delete Comment", book_club_comment_path(@comment.book_club), method: :delete %>



