<h2>Existing Book Clubs</h2>
<br>
<ul>
<% @book_clubs.each do |book_club| %>
  <li> <%= book_club.name%> 
  <% if !book_club.users.include?(current_user)%>
    <%= form_for book_club do |f| %>
      <%= f.submit "Join" %> 
    <% end %> 
  <% end %>
  </li>
<% end %>
  </ul>