<h2>Books Written By <%= @author.name %></h2>
<ul>
<% @author.books.each do |book| %>
  <li><%= link_to book.title, author_book_path(@author, book) %></li>
<%end%>
</ul>

<%= button_to 'Create new Book', new_author_book_path(@author), method: :get %>

