<h2>Welcome, <%= current_user.email %></h2>

<%# <%= button_to "New Book", { :controller => "books", :action => "new" }, :method => :get %> 
<%= link_to '<button type="New Book">New Book</button>'.html_safe, new_book_path %>